{% extends 'base.html' %}

<!-- Page content -->
{% block content %}
    <h1 class="container text-info"
        style=
                "width: 80%; position: absolute;
         top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%); text-align: center;">
        FRONTEND</h1>

    <!-- messages from backend -->
    {% for message in messages %}
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        {% if message.tags == "info" %}
            <script>
            $(document).ready(function(){
                $("#loginModal").modal('show');
            });
            </script>
{#            <script>#}
{#                var m = "{{ message }}";#}
{#                swal("Blocked!", m, "info");#}
{#            </script>#}
        {% elif message.tags == "error" %}
            var m = "{{ message }}";
            swal("Denied!", m, "error");
            </script>
        {% endif %}
    {% endfor %}

{% endblock content %}